ai_instructions_old.md
index_old.html
program_roadmap_old.md
papers/paper_0/Cover_letter.docx
papers/paper_0/paper_0_v1.pdf
papers/paper_0/paper_0_v1.tex
papers/paper_0/paper_0.zip
papers/paper_1/Cover letter.docx
papers/paper_1/GC26-054-Rejection.pdf
papers/paper_1/John_Bush_engagement.pdf
papers/paper_1/paper_1_v12.tex
papers/paper_1/paper_1_v13.pdf
papers/paper_1/paper_1_v13.tex
papers/paper_1/paper_1_v14.tex
papers/paper_1/paper_1_v15.pdf
papers/paper_1/paper_1_v15.tex
papers/paper_1/paper_1.zip
papers/paper_1/Purnendu Karmakar_1.eml
papers/paper_1/Purnendu Karmakar.eml
papers/paper_1/Terensia Lawrence.eml
papers/paper_1/Zloshchastiev_response.pdf
papers/paper_2/Cover_letter.docx
papers/paper_1/Qeios_Review.pdf
papers/paper_2/paper_2_v7.tex
papers/paper_2/paper_2_v8.tex
papers/paper_2/paper_2_v9.tex
papers/paper_2/paper_2_v10.pdf
papers/paper_2/paper_2_v10.tex
papers/paper_2/paper_2.zip
papers/paper_3/paper3_cosmology_v12.pdf
papers/paper_3/paper3_v12.tex
papers/paper_3/paper3_v13.tex
papers/paper_3/paper3_v14.pdf
papers/paper_3/paper3_v14.tex
papers/paper_4/paper_4_v8.tex
papers/paper_4/paper_4_v9.tex
papers/paper_4/paper_4_v10.tex
papers/paper_4/paper_4_v11.tex
papers/paper_4/paper_4_v12.tex
papers/paper_5/paper_5_v11.pdf
papers/paper_5/paper_5_v11.tex
papers/paper_1/Purnendu Karmakar_p1_v13_review.eml
papers/paper_1/Qeios_Review_p1_v13.pdf
papers/paper_1/Terensia Lawrence_p1_v13_review.eml
papers/paper_0/paper_0_v2.tex
papers/paper_0/paper_0_v3.pdf
papers/paper_0/paper_0_v3.tex
papers/paper_4/paper_4_v12.pdf
papers/paper_1/Vanessa Bertolucci_p1_v13_review.eml
papers/paper_8/paper_8_v5.tex
papers/paper_8/paper_8_v6.tex
papers/paper_8/paper_8_v7.tex
papers/paper_8/paper_8_v8.pdf
papers/paper_8/paper_8_v8.tex
papers/paper_1/paper_1_v16_candidate.tex
papers/paper_1/paper_1_v16.pdf
papers/paper_1/paper_1_v16.tex
papers/paper_0/paper_0_v4.pdf
papers/paper_0/paper_0_v4.tex
papers/paper_1/paper_1_v17.pdf
papers/paper_1/paper_1_v17.tex
papers/paper_2/paper_2_v11.pdf
papers/paper_2/paper_2_v11.tex
papers/paper_3/paper3_v15.pdf
papers/paper_3/paper3_v15.tex
papers/paper_3/paper3_v16.pdf
papers/paper_3/paper3_v16.tex
papers/paper_3/paper3_v17.pdf
papers/paper_3/paper3_v17.tex
papers/paper_4/paper_4_v13.pdf
papers/paper_4/paper_4_v13.tex
papers/paper_5/paper_5_v12.pdf
papers/paper_5/paper_5_v12.tex
papers/paper_5/paper_5_v13_candidate.tex
papers/paper_6/paper6_v4.pdf
papers/paper_6/paper6_v4.tex
papers/paper_0/paper_0_v5.tex
papers/paper_0/paper_0_v6.pdf
papers/paper_0/paper_0_v6.tex
papers/paper_0/paper_0_v7.tex
papers/paper_0/paper_0_v8.pdf
papers/paper_0/paper_0_v8.tex
papers/paper_4/paper_4_v14.tex
papers/paper_4/paper_4_v15.pdf
papers/paper_4/paper_4_v15.tex
papers/paper_1/paper_1_v18.tex
papers/paper_1/paper_1_v19.tex
papers/paper_1/paper_1_v20.pdf
papers/paper_1/paper_1_v20.tex
papers/paper_2/paper_2_v12.tex
papers/paper_2/paper_2_v13.tex
papers/paper_5/paper_5_v13.tex
papers/paper_5/paper_5_v14.pdf
papers/paper_5/paper_5_v14.tex
papers/paper_1/OWEUNJ.4.pdf
papers/paper_2/paper_2_v14.pdf
papers/paper_2/paper_2_v14.tex
papers/paper_2/paper_2_v15.pdf
papers/paper_2/paper_2_v15.tex
papers/paper_3/paper3_v18.pdf
papers/paper_3/paper3_v18.tex
papers/paper_5/paper_5_v15.pdf
papers/paper_5/paper_5_v15.tex
